<footer class="site-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <p>&copy; 2020 {{ site.title | escape }}</p>
    
    <p>
        <a href="http://instagram.com/magsholes"><img src="assets/images/instagram.svg" class="social" /></a>
        <a href="https://www.linkedin.com/in/maggiesholes/"><img src="assets/images/linkedin.svg" class="social" /></a>
        <a href="mailto:magsholes@gmail.com"><img src="assets/images/mail.svg" class="social" /></a>        
    </p>

</footer>