* {
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    background: $neutral-light;
    margin: 0;
    padding: 0;
}

.cover {
    min-height: 100vh;
    background: $neutral-light;
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
}

//HEADER NAV

.site-header {
    width: 100vw;
    background: $accent-bright;
    height: 5em;
    margin: 0;
    padding-top: 50px;
    border-bottom: $master-border;
}

a.site-title {
    float: left;
    margin-left: 10vw;
    
}

a.site-title:hover {
    position: relative; 
    top: -3px; 
    left: -3px; 
    font-size: 24px;
    text-shadow:1px 1px $accent-light, 
                2px 2px $accent-light, 
                3px 3px $accent-light, 
                4px 4px $accent-light, 
                5px 5px $accent-light, 
                6px 6px $accent-light;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition:    all 0.12s ease-out;
    -ms-transition:     all 0.12s ease-out;
    -o-transition:      all 0.12s ease-out;
}

.nav-links {
    float: right;
    margin-right: 10vw;
    text-align: right;
}

.nav-links a {
    list-style-type: none;
    display: inline;
    padding-left: 50px;
}
.nav-links a:hover, .nav-links a:active {
    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow:1px 1px $neutral-dark, 
                2px 2px $neutral-dark, 
                3px 3px $neutral-dark, 
                4px 4px $neutral-dark, 
                5px 5px $neutral-dark, 
                6px 6px $neutral-dark;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition:    all 0.12s ease-out;
    -ms-transition:     all 0.12s ease-out;
    -o-transition:      all 0.12s ease-out;
}
.nav-links:first-child {padding: 0;}

// HOME PAGE

.post-category {
    width: 80vw;
    margin: auto;
    padding: 50px 0 0 0;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    
    h2 {
        float: left;
        width: 10%;
        margin-right: 50px;
    }

    a.post-link {
        list-style-type: none;
        height: 300px;
        width: 20%;
        min-width: 180px;
        margin-right: 1vw;
        display: flex;
        border: $master-border;
        background-size: cover;
        position: relative;

        .post-info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 90%;
            background: $neutral-dark;
            padding: 5%;
        }
    }
}

a.post-link:hover > .post-info {
    padding-bottom: 10%;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition:    all 0.12s ease-out;
    -ms-transition:     all 0.12s ease-out;
    -o-transition:      all 0.12s ease-out;
}

.post-link:hover::before {
    @include dotted-box;
    position: absolute;
    z-index: -1;
    top: 25px;
    left: 25px;
}

button.view-all {
    height: 100%;
    width: 50px;
    background: $neutral-light;
    color: $neutral-dark;
    border: $master-border;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0;
    
    svg {
        fill: $neutral-dark;
        stroke: $neutral-dark;
        stroke-width: 6px;
        position: relative;
        width: 60%;
        height: auto;
    }
}

button.view-all:hover {
    cursor: pointer;    
    background: $neutral-dark;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition:    all 0.12s ease-out;
    -ms-transition:     all 0.12s ease-out;
    -o-transition:      all 0.12s ease-out;
}
button.view-all:hover svg, button.view-all:hover .svg {
    stroke: $neutral-light;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition:    all 0.12s ease-out;
    -ms-transition:     all 0.12s ease-out;
    -o-transition:      all 0.12s ease-out;
}

// PAGES

.page-content {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 80%;
    max-width: 800px;
}

.category-page {
    
    h1 {
        margin-bottom: 30px;
    }
    
    a {
        margin-right: 30px;
        float: left;
    }
}

// POSTS

.post-header {
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    
    h1 {
        background: $neutral-light;
        border: $master-border;
        padding-bottom: 20px;
        width: 30%;
        padding: 0 100px 20px 100px;
        margin: auto;
    }
    
    h2 {
        display: block;
        margin-top: 20px;
    }
    
    h2::after {
        @include dotted-line;
        margin-bottom: -20px;
    }
}


// FOOTER 

.site-footer {
    width: 100%;
    margin: 0;
    background: $neutral-dark;
    color: $neutral-light;
    padding: 100px 0;
    position: sticky;
    bottom: 0;
    left: 0;
    
    p {
        text-align: center;
        font-size: 10px;
    }
    
    .social {
        width: 30px;
        height: auto;
        margin: 15px auto;
        fill: $neutral-light;
    }
}

//IMAGES

img {
    border: $master-border;
    width: 100%;
    height: auto;
}

.no-border {
    border: none;
}

figure {
    padding: 0;
    margin: 20px 0 0 0;
}

.single {
    width: 100%;
    height: auto;
}

.double {
    width: 48%;
    height: auto;
}

.triple {
    width: 30%;
    height: auto;
}

.float-left {
    float: left;
    margin: 50px 50px 50px 0;
}


hr {
    @include dotted-line;
    margin-top: 50px;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}




