@media screen 
    and (min-width: 600px)
    and (max-width: 1049px) { 
      
      // HOME PAGE 

    .post-category {
        justify-content: flex-start;
        
        h2 {
            float: none;
            width: 100%;
            padding-bottom: 50px;
        }

        a.post-link {
            list-style-type: none;
            height: 300px;
            width: 45%;
            margin-bottom: 30px;

            .post-info {

                h3 {
                    font-size: 14px;
                }
            }
        }

    }
        
        // HEADER + NAV
        
        .site-header {
            height: 7em;
        }
        
        .nav-links a {
            display: block;
        }
      
}

@media screen 
    and (max-width: 599px) {
        
        // HOME PAGE
        
        h2 {
        float: none;
        width: 100%;
        padding-bottom: 50px;
        }
        
        .post-category{
            justify-content: flex-start;
            width: 80%;
            
            h2 {
                width: 100%;
            }
            
            a.post-link {
                list-style-type: none;
                width: 100%;
                margin-bottom: 30px;

            }

            button.view-all { 
                height: 50px; 
                width: 100%;

                svg {
                    max-height: 75%;
                    stroke-width: 7px;
                }
            }
        }
        
        // HEADER + NAV
        
        .site-header {
            height: 9em;
        }
        
        a.site-title {
        width: 100%;
        }
        
        .nav-links {
            float: left;
            text-align: left;
                a {
                display: block;
                }
        }
            
}