---

---

@charset "utf-8";

//DEFINE COLORS

$neutral-light:        #F8F5EE !default;
$neutral-medium:       #fdfdfd !default;
$neutral-dark:         #242120 !default;

$accent-light:         #F7C6CB !default;
$accent-medium:        #F2D040 !default;
$accent-bright:        #ED4337 !default;
$accent-dark:          #001888 !default;

$master-border: 6px solid $neutral-dark;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin dotted-line {
    content: "";
    height: 18px;
    width: 100%;
    margin: 20px 0 50px 0;
    display: block;
    background: url(images/square-dot.png);
    border: 0;
}

@mixin dotted-box {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    background: url(images/square-dot.png);
}

// GRID SETUP

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

// ICONS

 
@import 
    "type",
    "layout",
    "media-queries"
    ;

// MISC

buttoner { cursor: pointer; }