---
layout: default
---


    
    <div class="post-category category-page">
       
    <h1>{{ page.title | escape }}</h1>
          
    {%- for post in site.categories[page.tag] -%}
      
            <a href="{{ post.url | relative_url }}" class="post-link" style="background-image: url({{"../assets/images/" | prepend: relative_url | append : post.featured-image}})">

                    <div class="post-info">
                        <h3>{{ post.title | escape }}</h3>

                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                    </div>
            </a>
        
      {%- endfor -%}

    </div>

