---
layout: default
---

  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
   
       
    <div class="post-category">
    
    <h2>Case Studies</h2>
    
    {%- for post in site.categories.case-studies limit:3 -%}
      
            <a href="{{ post.url | relative_url }}">
                <div class="post-link" style="background-image: url({{"assets/images/" | prepend: relative_url | append : post.featured-image}})">

                    <div class="post-info">
                        <h3>{{ post.title | escape }}</h3>

                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                    </div>
                </div>
            </a>
        
      {%- endfor -%}
    <a href="{{ site.baseurl }}/category/case-studies"><li class="view-all parent"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 43" style="enable-background:new 0 0 26.4 43;" xml:space="preserve"><path id="Union_1" class="st0" d="M21.5,21.5l-19-19L21.5,21.5l1-1L21.5,21.5l1,1L21.5,21.5l-19,19L21.5,21.5z"/></svg></li>
    </a>
    </div>
    
    <div class="post-category">
    
    <h2>Journal</h2>
    
    {%- for post in site.categories.journal limit:3 -%}
      
            <a href="{{ post.url | relative_url }}">
                <div class="post-link" style="background-image: url({{"assets/images/" | prepend: relative_url | append : post.featured-image}})">

                    <div class="post-info">
                        <h3>{{ post.title | escape }}</h3>

                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                    </div>
                </div>
            </a>
        
      {%- endfor -%}
    <a href="{{ site.baseurl }}/category/case-studies"><li class="view-all parent"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.4 43" style="enable-background:new 0 0 26.4 43;" xml:space="preserve"><path id="Union_1" class="st0" d="M21.5,21.5l-19-19L21.5,21.5l1-1L21.5,21.5l1,1L21.5,21.5l-19,19L21.5,21.5z"/></svg></li>
    </a>
    </div>
      
       
<!--
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
-->
    

    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
  {%- endif -%}

