---
layout: default
---

  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
   
       
    <ul class="post-category">
    
    <h2>Case Studies</h2>
    
    {%- for post in site.categories.case-studies limit:3 -%}
      
            <a href="{{ post.url | relative_url }}">
            <li class="post-link" style="background-image: url({{"assets/images/" | prepend: relative_url | append : post.featured-image}})">

            <h3>{{ post.title | escape }}</h3>
            
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

            <span class="post-meta">{{ post.date | date: date_format }}</span>
            </li>
        </a>
        
      {%- endfor -%}
    </ul>
   
    <ul class="post-category">
    
    <h2>Journal</h2>
    
    {%- for post in site.categories.journal limit:3 -%}
      
            <a href="{{ post.url | relative_url }}">
            <li class="post-link" style="background-image: url({{"assets/images/" | prepend: relative_url | append : post.featured-image}})">

            <h3>{{ post.title | escape }}</h3>
            
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

            <span class="post-meta">{{ post.date | date: date_format }}</span>
            </li>
        </a>
        
      {%- endfor -%}
    </ul>
      
       
<!--
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
-->
    

    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
  {%- endif -%}

